.account-page-cont {
	width: 100%;
	padding-top: 5%;
}
.history-cont {
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
	padding: 20px;
}
.search-form {
	padding: 2px 4px;
	display: flex;
	align-items: center;
	width: fit-content;
}
.divider {
	height: 20px;
	margin: 4px;
	width: 1.5px;
}