.cart{
	display: flex;
	flex-direction: column;
}
.cartTitle{
	align-self: center;
	font-size: 50px;
}
.purchaseBtn{
	width: fit-content;
	align-self: center;
}
.link{
	align-self: center;
	text-decoration: none;


}
.totalAmount{
	align-self: center;
	font-size: xx-large;
	color: rgb(255, 0, 0);
	background-color: rgb(232, 248, 161);
}