.keywards{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
}
.keywordInput{
    margin-left: 3%;
    height: 30px;
    margin-top: 2%;
}
.wardsDiv{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
.wardsDiv li{
    display: inline;
}
.keyBtn{
    height: 32px;
    width: 8%;
    margin-top: 2%;
}
.wordsP{
    align-self: baseline;
    margin-left: 10%;
    margin-bottom: 0%;
    padding: 0%;
}