.account-page-cont {
	width: 100%;
	padding-top: 5%;
}
.history-cont {
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
	padding: 20px;
}
.offers-cont{
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
	padding: 20px;
	margin-top: 10%;
}