.navbar{
    width: 100%;
    height: fit-content;
}
.navbar nav{
    background-color: #f9fce1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
}

.nameLink{
    font-size: 60px;
    text-decoration: none;
    color: black;
    flex: 1;
    font-weight: bold;
}
.appName:hover {
    font-weight: bold;
}

.navbar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    margin-left: 20px;

    .item-icon {
        font-size: 30px;
    }

    .item-link {
        font-size: 30px;
        text-decoration: none;
        color: black;
        margin-left: 5%;
    }
}

.notification-cont { 
    margin-top: 165px;
    right: 50px;
    position: absolute;
    .notification {
        padding: 10px;
    }
}