.box{
    display: flex;
    flex-direction: row;
}
.messageIcon{
    font-size: 40px;
    margin-right: 5%;
    align-self: center;
}
.notify{
    align-self: center;
    margin-top: 10%;
}
.date{
    font-weight: 400;
}