.ProductSearchCard{
    margin-left: 1%;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    
}

.prodCard{
    background-color: #83f1e8;
    font-size: large;
}

.cardContent{
    font-weight: bold;
}