.purchaseDiv{
    background-color: rgb(250, 242, 232);
    height: 94%;
    width: 100%;
}

.formDiv-container {
    margin: 0 20%;

    .formDiv{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-self: center;
        align-items: center;
        justify-content: flex-start;
    
        .section-title { 
            width: 100%;
            margin: 5% 0 0;
            padding: 0;
            text-align: center;
        }
    
        .text-field { 
            flex-grow: 1;
            margin: 2% 2% 2%;
        }
    }
}

.purchaseBtn{
    background:'#7FFF00';
    height:'50px';
    font-weight:'bold';
    font-size:'large';
    margin-top:'10%';
    align-self:'center';
    margin-left: '50%';
}

.totalPurchase{
    align-self: center;
    background-color: transparent;
    margin-left: 42%;
    background-color: rgba(255, 246, 162, 0.863);
    width: fit-content;
    font-size: xx-large;
}
.buttonsDiv{
    display: flex;
    flex-direction: row;
}