.SearchPageDiv{
    display: flex;
    flex-direction: column;
    background-color: #f7ecd2;
}
.cardsRow{
    display: flex;
    flex-direction: row;
}

.mainArea{
    display: flex;
    flex-direction: row;
}
.filterArea{
    width: 20%;
    margin-top: 10%;
    margin-left: 0.5%;
}
.productCards{
    width: 80%;
}
.price{
    display: flex;
    flex-direction: row;
}