.StoresDiv{
    width: 100%;
    align-items: center;
    background-color: antiquewhite;
    height: 94%;
}
.productCards{
    width: 100%;
    height: 90%;
}
.cardsRow{
    width: 100%;
    padding: 2%;
}

